﻿<div class="span12">

    <h3>Calculator</h3>

    <label class="control-label" for="first">Enter a number</label>
    <input class="input-medium" type="text" data-ng-model="a" id="first" /><br />
    <input class="input-medium" type="text" data-ng-model="b" id="second">
    <div>
        <button class="btn " data-ng-click="calculateValues('add')">+</button>
        <button class="btn" data-ng-click="calculateValues('subtract')">-</button>
        <button class="btn" data-ng-click="calculateValues('multiply')">X</button>
        <button class="btn" data-ng-click="calculateValues('divide')">/</button>
    </div>
    <div>
        result {{result}}
    </div>

    <div>
        work {{work}}
    </div>

</div>
