﻿<div class="span12">
    <h3>Aside Title</h3>
    <p>
        Use this area to provide additional information.
    </p>


    <input class="input-medium" data-ng-model="message">

    <button data-ng-click="greeting()" class="btn">Tell me</button>
    {{message}}
               
</div>
