﻿<div class="row">
    <div class="span12">
        <h3>Phone List</h3>
        <form name="phone" class="form-horizontal">

            <input class="search-query" placeholder="Search!" data-ng-model="query">

            <select class="ui-selectable-helper input-medium" data-ng-model="orderProp">
                <option value="name">Alphabetical</option>
                <option value="age">Newest</option>
            </select>
        </form>
    </div>
</div>

<div class="span6">
  

    <ul>
        <li data-ng-repeat="phone in phones.phoneList | filter:query | orderBy:orderProp">
            <p>
                {{phone.name}}: </br> 	
			                {{phone.snippet}}
            </p>
        </li>
    </ul>
</div>

<div class="span6">
    <table class="table table-striped table-hover">
        <tr data-ng-repeat="phone in phones.phoneList | filter:query | orderBy:orderProp">
            <td>{{phone.name}}</td>

            <td>{{phone.snippet}}</td>
        </tr>
    </table>
</div>


